<ion-content style="--ion-background-color: #000000">
  <div class="image">
    <img src="../../assets/img_2-removebg-preview.png" alt="" />
  </div>

  <div class="text">
    <p>
      <span > Find </span>
      <span style="color: #f1bf61"> weather Forecast

      </span><span> for your city </span>
      <br />
      <br />

      <br />
      <br />

      <br />

      <br />
    </p>

    <h1>Get the Edge on Weather</h1>

    <ion-button  [routerLink]="['/home']"> Get Started </ion-button>
  </div>
</ion-content>
